<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1 th:text="${some}"></h1>
</div>
<div>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <label>Введите логин</label>
        <input type="text" th:field="*{login}" name="login" placeholder="Логин"/>
        <label>Введите Пароль</label>
        <input type="text" th:field="*{password}" name="password" placeholder="Пароль"/>
        <button type="submit">Войти</button>
    </form>
</div>
</body>
</html>