<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div align="center">
    <form th:action="@{/login}" method="post">
        <div><label th:text="#{user.login}"></label><input type="text" name="username"/></div>
        <div><label th:text="#{user.password}"></label> <input type="password" name="password"/></div>
        <div><input type="submit" th:value="#{main.login}"/></div>
        <a th:href="@{/registry}" th:text="#{main.registry}"></a>
    </form>
</div>
</body>
</html>