<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example of Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="parts.html :: navbar"></div>
<div th:if="${not #lists.isEmpty(orderList)}">
    <table>
        <thead>
        <tr>
            <th th:text="#{tour.order.id}"/>
            <th th:text="#{tour.order.customer}"/>
            <th th:text="#{tour.order.name}"/>
            <th th:text="#{tour.order.quantity}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td><h5 th:text="${order.id}"/></td>
            <td><h5 th:text="${order.customer.username}"/></td>
            <td><h5 th:text="${order.tour.getName()}"/></td>
            <td><h5 th:text="${order.ticketsQuantity}"/></td>
            <td><h5 th:text="${order.status}"/></td>
            <td>
                <form th:action="@{/orders/canceled}" method="post">
                    <input type="hidden" th:value="${order.id}" name="orderId"/>
                    <input type="submit" th:value="#{order.canceled}"/>
                </form>
            </td>
            <td>
                <form th:action="@{/orders/paid}" method="post">
                    <input type="hidden" th:value="${order.id}" name="orderId"/>
                    <input type="submit" th:value="#{order.paid}"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<img th:src="@{/images/test.jpg}">
</body>
</html>