<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registry</title>
</head>
<body>
<div th:if="${message != null}">
    <p th:text="${message}" />
</div>
<div align="center">
    <form method="post" th:action="@{/registry}">
        <div><label th:text="#{user.firstname}"></label><input type="text" name="firstName"/></div>
        <div><label th:text="#{user.lastname}"></label><input type="text" name="lastName"/></div>
        <div><label th:text="#{user.login}"></label><input type="text" name="username"/></div>
        <div><label th:text="#{user.password}"></label> <input type="password" name="password"/></div>
        <div><input type="submit" th:value="#{main.registry}"/></div>
    </form>
</div>
</body>
</html>